<footer class="w-full px-6 py-2 flex gap-x-10 border-t-1 border-secondary">
  <p>© 2023 <a class="cursor-pointer" herf="https://github.com/LavaCxx/">LavaC</a></p>
  <p>Powered by <a class="underline cursor-pointer" herf="https://astro.build/" target="_blank">Astro</a> & <a class="underline cursor-pointer" herf="https://www.solidjs.com/" target="_blank">Solid</a></p>
</footer>
