---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---
<div class="bg-blank h-full min-h-screen grid grid-rows-[60px_1fr] overflow-y-auto">
  <Header />
  <slot />
  <Footer />
</div>
